* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
}

body {
  height: 100vh;
  width: 100%;
  background: url("/bcgrd.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.background {
  width: 100%;
  height: 100vh;
}

.scoreTable {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(17, 17, 89, 0.8549019608);
  margin-bottom: 2rem;
}

.updateScoreT1, .updateScoreT2 {
  color: red;
}

#teamOneScore, #teamTwoScore {
  color: gold;
  font-weight: 800;
  letter-spacing: 1px;
}

#teamOneScore {
  margin-right: 5px;
}

.game-wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e7e6f7;
  text-align: center;
  padding: 5px;
}

.game-name {
  text-transform: uppercase;
  background: -webkit-linear-gradient(#F85C7C, #FCDF61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.4;
}
@media (max-width: 663px) {
  .game-name {
    font-size: 1.6rem;
  }
}

.overlay {
  width: 100%;
  height: 100vh;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: rgba(0, 0, 0, 0.616);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-grid {
  width: max(100% - 2rem);
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 3px;
  margin-left: auto;
  margin-right: auto;
}

.grid--title {
  height: 50px;
  text-transform: uppercase;
  background-color: #aa22f8;
  font-size: 16px;
  color: #e7e6f7;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 6.25px;
  box-shadow: inset 0px 0px 0px 2px #000000;
}
@media (max-width: 663px) {
  .grid--title {
    display: none;
  }
}

.flip-card {
  background-color: transparent;
  height: 100px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(170, 34, 248, 0.7568627451);
  color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 6.25px;
  box-shadow: inset 0px 0px 0px 2px black;
  cursor: pointer;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  border-radius: 6.25px;
  box-shadow: inset 0px 0px 0px 2px black;
}
.flip-card-back h1 {
  font-size: 16px;
  text-transform: uppercase;
}
.flip-card-back .points {
  font-size: 20px;
  color: gold;
  padding-top: 5px;
}
.flip-card-back .question {
  font-size: 16px;
  padding-top: 5px;
  cursor: pointer;
  background: -webkit-linear-gradient(#F85C7C, #FCDF61);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-card {
  height: 100px;
}/*# sourceMappingURL=styles.css.map */